
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url(l1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container3 {
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2em;
    color: white;
}

p {
    font-size: 1.1em;
    color: white;
    margin-bottom: 20px;
}

a {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


form {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

button,button2 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
