
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    height: 100%;
    color: #fff;
    background-image: url('../1/NivelTerminado3.jpg');
    background-size: cover;

}


.estacion1 {
    -webkit-backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto;
    max-width: 900px; 
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    animation: fadeIn 2s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.3); 
}


.estacion1 img {
    width: 250px; 
    height: auto;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.estacion1 img:hover {
    transform: scale(1.1);
}


.buttons {
    text-align: center;
    margin-top: 30px;
}

.botonSiguiente{
    background-color: #673ab7;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px; 
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botonSiguiente:hover {
    transform: scale(1.1);
    background-color: #7e57c2;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


